extend layout.pug

block content
  .content
    h1 About this course
    p Ramverk2 is a course at Blekinge Tekniska Högskola focusing on JavaScript frameworks and surrounding technology. The course teaches how to create things in Express and pug but also encourages exploration with other frameworks and technologies. Unit testing, code coverage, docker containers and databases will also be a part of this course which means that a lot of different modern technologies will be taught.
    p Source code can be found on my personal Github: <a href="https://github.com/Paikz">HERE</a>
  .filler
