extend layout.pug

block content
  .content
    h1 Placeholder application
    p A web application with no purpose currently. Direction will be defined further along the Ramverk2 course.
    p The server side consists of an express server with mongoDB as database. The client is an Angular application. Testing is done with Mocha on the server and Jasmine on the client. Istanbul for code coverage.
    p Both repositories are connected to a CI chain that includes Travis CI, Scrutinizer and Coveralls. Both the server and clients have support for Docker for testing and development.
    a(href="https://github.com/Paikz/placeholder-server") Server on Github
    p
    a(href="https://github.com/Paikz/placeholder-client") Client on Github
  .filler
