
.footer-container
  <object id="skyline" data="../img/skyline.svg" type="image/svg+xml"></object>
  nav.footer-nav
    a(href='https://travis-ci.org/Paikz/ramverk2') Travis
    a(href='https://github.com/Paikz') Github
    a(href='/') CodeCoverage
