.header-container
  .logo
    h3 Philip Esmailzade
  nav.navbar
    a(href='/') Home
    a(href='/report') Report
    a(href='/about') About
    a(href='/app') App
    a(href='/chat') Chat
    a(href='/db') db
