extend layout.pug

block content
  .content
    h1 About me
    p My name is Philip Esmailzade and I am currently studying my third year of Web programming at BTH, Sweden. This is the last year of studies for me which motivates me to know as much as possible about modern technology before becoming a working man.
    p I have dabbled in a lot of technologies over the course of my program, with PHP, C++ and Javascript being the core of it. I've recently been interested in JavaScript and frameworks which inspired me to take this course.
    h1 About this website
    p This website is written in JavaScript using Node.js Express and pug with LESS for styling.
    p Source code can be found on my personal Github: <a href="https://github.com/Paikz">HERE</a>
  .filler
